@use "../../styles/variables" as *;

.profile__bio {
  text-align: justify;
  color: $color-white;
  hyphens: auto;
  margin-bottom: 1rem;
}

.profile__link {
  text-decoration: none;
  color: $color-primary;
  font-weight: 600;
  transition: color 0.2s ease;

  &:hover {
    color: rgb(137, 255, 243);
  }
}
