// Basic colors (extracted from original CSS)
$color-primary: #28ebcc; // rgb(40, 235, 215)
$color-white: #ffffff;
$color-gray: #808080; // rgb(128, 128, 128)
$color-gray-dark: #666666; // rgb(102, 102, 102)
$color-blue-light: #8faadc; // rgb(143, 170, 220)
$color-blue-dark: #4472c4; // rgb(68, 114, 196)

$color-gray-light: #000000; // temp
$color-text-dark: #000000; // temp

// Typography (from original HTML)
$font-primary: "Montserrat", sans-serif;
$font-mono: "Source Code Pro", monospace;
