#app-frame {
  width: 50%;
  min-width: 340px;
  height: 50%;
  background-color: rgb(12, 12, 12);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

#titlebar {
  display: flex;
  flex-direction: row;
  height: 2.2rem;
  list-style: none;
  background-color: rgb(204, 204, 204);
  cursor: default;
  user-select: none;
}

#tabs {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

.tab {
  width: 100%;
  height: 1.8rem;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.tab-standard {
  margin: auto 5px 0 10px;
  border-radius: 5px 5px 0 0;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.tab-controller {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.tab-controller:hover,
.tab-controller:active {
  border-radius: 5px 5px 0 0;
  background-color: rgb(224, 224, 224);
}

.tab-icon {
  margin-right: 10px;
  font-size: 18px;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.control-icon {
  font-size: 18px;
}

.window-btn {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window-btn:hover {
  background-color: rgb(163, 163, 163);
}

.close:hover {
  color: white;
  background-color: rgb(232, 17, 35);
}

#app-dropdown {
  position: relative;
  display: flex;
}

.dropdown-content {
  position: absolute;
  top: 2rem;
  left: 1px;
  z-index: 1;
  display: none;
  flex-direction: column;
  width: 30vw;
  max-width: 15rem;
  padding: 5px 0 5px 0;
  background-color: rgb(242, 242, 242);
  border-radius: 6px;
  overflow: hidden;
}

.dropdown-show {
  display: flex;
}

.dropdown-content li {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.dropdown-content li:hover {
  background-color: rgb(218, 218, 218);
}

.dropdown-content a {
  text-decoration: none;
  color: inherit;
  pointer-events: none;
}

.divider {
  margin: 0 1rem;
  border-top: 0.5px solid rgb(120, 120, 120);
  border-color: rgba(0, 0, 0, 0.6);
}

#workspace {
  padding: 10px;
  font-family: "Source Code", monospace;
  color: rgb(204, 204, 204);
}

#workspace p::selection,
#workspace span::selection {
  background: rgb(134, 134, 134);
}

/* #txt-anim {
    white-space: nowrap;
  } */

.type-active::after {
  content: "|";
  animation: blink 500ms ease infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.txt-alert {
  color: rgb(231, 72, 86);
}
